<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blogspot.softlabsja.iiucstudentapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IIUCStudentApp">
        <activity android:name=".Ter.CourseSurvey.CourseSurveyActivity" />
        <activity android:name=".Ter.TerSubmission.TerSubmissionActivity" />
        <activity android:name=".Ter.TerActivity" />
        <activity android:name=".ForgetPassword.ForgetPasswordActivity" />
        <activity android:name=".AddDrop.AddDropActivity" />
        <activity android:name=".FeeCalculator.FeeCalculatorActivity" />
        <activity android:name=".Profile.ProfileActivity" />
        <activity android:name=".CourseStatus.CourseStatusActivity" />
        <activity android:name=".ChangePassword.ChangePasswordActivity" />
        <activity android:name=".RegistrationSummary.RegistrationSummaryActivity" />
        <activity android:name=".ResultView.ResultViewActivity" />
        <activity android:name=".About.AboutActivity" />
        <activity android:name=".AllNotice.NoticeViewActivity" />
        <activity android:name=".AllNotice.AllNoticeActivity" />
        <activity android:name=".CourseRegistration.CourseRegistrationActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>